[submodule "UMDA"]
	path = UMDA
	url = https://github.com/Robdres/UMDA.git
[submodule "testors/UMDA"]
	path = testors/UMDA
	url = https://github.com/Robdres/UMDA.git
[submodule "testors/reductos"]
	path = testors/reductos
	url = https://github.com/Robdres/reductos.git
[submodule "testors/randomData"]
	path = testors/randomData
	url = https://github.com/Robdres/randomData.git
